[v-cloak] {
  display: none;
}

.budget_calculator_summary {
  border: none;
  border-collapse: collapse;
  min-width: 50% !important;
  width: 50% !important;
}

.budget_calculator_summary td,
.budget_calculator_summary tr {
  border: none;
  border-collapse: collapse;
}

.budget_calculator_summary tr:last-child {
  border-top: 1px solid black;
}

.budget_calculator_summary .title {
  font-weight: bold;
}
.budget_calculator_summary .total_title {
  font-weight: bold;
  font-size: 1.2em;
}

.budget_calculator_summary .income,
.budget_calculator_summary .expenses {
  font-size: 1em;
  text-align: right;
}

.budget_calculator_summary .total {
  text-align: right;
  font-weight: bold;
  font-size: 1.2em;
}
