{{ attach_library('uw_budget_calculator/uw_budget_calculator_app') }}

<script id="residences" type="application/json">
  {{ residences | raw }}
</script>
<script id="programs" type="application/json">
  {{ programs | raw }}
</script>

<!-- start vue #app -->
<div id="app">
{#<div id="app" v-cloak>#}

  {# Citizenship Radio Options #}
  <fieldset data-drupal-selector="edit-citizenship" id="edit-citizenship--wrapper" class="fieldgroup form-composite fieldset fieldset--group js-form-item form-item js-form-wrapper form-wrapper">
    <legend class="fieldset__legend fieldset__legend--composite fieldset__legend--visible">
      <span class="fieldset__label fieldset__label--group">What is your citizenship?</span>
    </legend>

    <div class="fieldset__wrapper fieldset__wrapper--group">
      <div id="edit-citizenship" class="form-radios">
        <div class="js-form-item form-item js-form-type-radio form-type--radio form-type--boolean js-form-item-citizenship form-item--citizenship">
          <input data-drupal-selector="edit-citizenship-domestic" type="radio" id="edit-citizenship-domestic" name="citizenship" value="domestic" class="form-radio form-boolean form-boolean--type-radio" v-model="citizenship">
          <label for="edit-citizenship-domestic" class="option">Canadian citizen/Permanent Resident</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type--radio form-type--boolean js-form-item-citizenship form-item--citizenship">
          <input data-drupal-selector="edit-citizenship-international" type="radio" id="edit-citizenship-international" name="citizenship" value="international" class="form-radio form-boolean form-boolean--type-radio" v-model="citizenship">
          <label for="edit-citizenship-international" class="option">International student</label>
        </div>
      </div>
    </div>
  </fieldset>
  <hr>

  <h1>{{ settings.tuition_heading_label ?: "Tuition" }}</h1>

  {% if settings.tuition_header %}
    {{ settings.tuition_header | raw }}
  {% endif %}

  {% if programs %}
    <div class="js-form-item form-item js-form-type-select form-type--select js-form-item-programs form-item--programs">
      <label for="edit-programs" class="form-item__label">{{ settings.tuition_dropdown_label}}</label>
      <select data-drupal-selector="edit-programs" id="edit-programs" name="programs" class="form-select form-element form-element--type-select" v-model="program" v-cloak>
        <option disabled value="">-- Select a program --</option>
        <option v-for="program in programs" :value="program.id">
          ${ program.name }
        </option>
      </select>
    </div>


    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-tuition form-item--tuition">
      <label for="tuition" class="form-item__label">{{ settings.tuition_input_label }}</label>
      <input v-model="tuition" data-drupal-selector="tuition" type="text" id="tuition" name="tuition" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    </div>

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-books form-item--books">
      <label for="books" class="form-item__label">{{ settings.books_input_label }}</label>
      <input v-model="books" data-drupal-selector="books" type="text" id="books" name="books" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    </div>

  {% endif %}


  {% if settings.tuition_footer %}
    {{ settings.tuition_footer | raw }}
  {% endif %}

  <hr>

  <h1>{{ settings.housing_heading_label ?: "Housing"}}</h1>

  {% if settings.housing_header %}
    {{ settings.housing_header | raw }}
  {% endif %}

  <fieldset data-drupal-selector="edit-location" id="edit-location--wrapper" class="fieldgroup form-composite fieldset fieldset--group js-form-item form-item js-form-wrapper form-wrapper" v-cloak>
    <legend class="fieldset__legend fieldset__legend--composite fieldset__legend--visible">
      <span class="fieldset__label fieldset__label--group">{{ settings.location_input_label ?: "Where do you plan to live in first year?" }}</span>
    </legend>

    <div class="fieldset__wrapper fieldset__wrapper--group">
      <div id="edit-location" class="form-radios">
        <div class="js-form-item form-item js-form-type-radio form-type--radio form-type--boolean js-form-item-location form-item--location">
          <input data-drupal-selector="edit-location-in-res" type="radio" id="edit-location-in-res" name="location" class="form-radio form-boolean form-boolean--type-radio" :value="'residence'" v-model="location">
          <label for="edit-location-in-res" class="option">In residence</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type--radio form-type--boolean js-form-item-location form-item--location">
          <input data-drupal-selector="edit-location-off-campus" type="radio" id="edit-location-off-campus" name="location" class="form-radio form-boolean form-boolean--type-radio" :value="'off_campus'" v-model="location">
          <label for="edit-location-off-campus" class="option">Renting off campus</label>
        </div>
        <div class="js-form-item form-item js-form-type-radio form-type--radio form-type--boolean js-form-item-location form-item--location">
          <input data-drupal-selector="edit-location-home" type="radio" id="edit-location-home" name="location" class="form-radio form-boolean form-boolean--type-radio" :value="'home'" v-model="location">
          <label for="edit-location-home" class="option">At home</label>
        </div>
      </div>
    </div>
  </fieldset>



  <div v-if="location === 'residence'" v-cloak>
    <h2>{{ settings.residence_heading_label ?: "Residence" }}</h2>

    {% if settings.residence_header %}
      {{ settings.residence_header | raw }}
    {% endif %}

    {# Residence Dropdown #}
    <div class="js-form-item form-item js-form-type-select form-type--select js-form-item-residences form-item--residences">
      <label for="edit-residences" class="form-item__label">{{ settings.residence_dropdown_label}}</label>
      <select data-drupal-selector="edit-residences" id="edit-residences" name="residences" class="form-select form-element form-element--type-select" v-model="residence" v-cloak>
        <option disabled :value="{'price': '0.00'}">-- Select a Residence --</option>
        <option v-for="res in residences" :value="res">
          ${ res.name }
        </option>
      </select>
    </div>

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-residence form-item--residence">
      <label for="residence" class="form-item__label">{{ settings.residence_input_label }}</label>
      <input v-model="residence.price" data-drupal-selector="residence" type="text" id="residence" name="residence" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    </div>

    {# Mealplan Dropdown #}
    <div class="js-form-item form-item js-form-type-select form-type--select js-form-item-mealplans form-item--mealplans">
      <label for="edit-mealplans" class="form-item__label">{{ settings.mealplan_dropdown_label}}</label>
      <select data-drupal-selector="edit-mealplans" id="edit-mealplans" name="mealplans" class="form-select form-element form-element--type-select" v-model="mealplan" v-cloak>
        <option disabled :value="{'price': '0.00'}">-- Select a Meal plan --</option>
        <option v-for="mp in available_mealplans" :value="mp">
          ${ mp.name }
        </option>
      </select>
    </div>

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-mealplan form-item--mealplan">
      <label for="mealplan" class="form-item__label">{{ settings.mealplan_input_label }}</label>
      <input v-model="mealplan.price" data-drupal-selector="mealplan" type="text" id="mealplan" name="mealplan" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    </div>
  </div>

  <div v-else-if="location === 'off_campus'" v-cloak>
    <h2>{{ settings.off_campus_heading_label ?: "Living off campus" }}</h2>

    {% if settings.off_campus_header %}
      {{ settings.off_campus_header | raw }}
    {% else %}
      <p>
        Values below are averages. Your costs may be higher or lower depending upon your preferences.
        Expenses are multiplied by 8 months to provide a total for first year.
      </p>
    {% endif %}

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-rent form-item--rent" v-cloak>
      <label for="rent" class="form-item__label">{{ settings.rent_input_label ?: "Rent (monthly)" }}</label>
      <input v-model="rent" data-drupal-selector="rent" type="text" id="rent" name="rent" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
      / month (${ formatter.format(rent * 8) })<br>
    </div>

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-rent form-item--utilities" v-cloak>
      <label for="utilities" class="form-item__label">{{ settings.utilities_input_label ?: "Utilities (monthly)" }}</label>
      <input v-model="utilities" data-drupal-selector="utilities" type="text" id="utilities" name="utilities" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
      / month (${ formatter.format(utilities * 8) })<br>
    </div>

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-groceries form-item--groceries" v-cloak>
      <label for="groceries" class="form-item__label">{{ settings.groceries_input_label ?: "Groceries (weekly)"}}</label>
      <input v-model="groceries" data-drupal-selector="groceries" type="groceries" id="groceries" name="groceries" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
      / week (${ formatter.format(groceries * 35) })<br>
    </div>
  </div>

  <div v-else-if="location === 'home'" v-cloak>
    <h2> {{ settings.home_heading_label ?: "Living At home" }}</h2>

    {% if settings.home_header %}
      {{ settings.home_header | raw }}
    {% endif %}

    <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-home form-item--home">
      <label for="home" class="form-item__label">{{ settings.home_input_label ?: "Any expenses? (Transit pass included in fees)"}}</label>
      <input v-model="home" data-drupal-selector="home" type="home" id="home" name="home" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    </div>
  </div>


  <hr>

  <h1>{{ settings.expenses_heading_label ?: "Expenses" }}</h1>

  {% if settings.expenses_header %}
    {{ settings.expenses_header | raw }}
  {% endif %}

  <h2>{{ settings.weekly_heading ?: "Weekly" }}</h2>


  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-entertainment form-item--entertainment" v-cloak>
    <label for="entertainment" class="form-item__label">{{ settings.entertainment_input_label ?: "Entertainment, dining out, etc."}}</label>
    <input v-model="entertainment" data-drupal-selector="entertainment" type="entertainment" id="entertainment" name="entertainment" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / week (${ formatter.format(entertainment * 35) })<br>
  </div>


  <h2>{{ settings.monthly_heading ?: "Monthly" }}</h2>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-phone form-item--phone" v-cloak>
    <label for="phone" class="form-item__label">{{ settings.phone_input_label ?: "Phone"}}</label>
    <input v-model="phone" data-drupal-selector="phone" type="phone" id="phone" name="phone" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / month (${ formatter.format(phone * 8) })<br>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-personal form-item--personal" v-cloak>
    <label for="personal" class="form-item__label">{{ settings.personal_input_label ?: "Personal Care"}}</label>
    <input v-model="personal" data-drupal-selector="personal" type="personal" id="personal" name="personal" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / month (${ formatter.format(personal * 8) })<br>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-shopping form-item--shopping" v-cloak>
    <label for="shopping" class="form-item__label">{{ settings.shopping_input_label ?: "Shopping"}}</label>
    <input v-model="shopping" data-drupal-selector="shopping" type="shopping" id="shopping" name="shopping" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / month (${ formatter.format(shopping * 8) })<br>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-travel form-item--travel" v-cloak>
    <label for="travel" class="form-item__label">{{ settings.travel_input_label ?: "Travel home"}}</label>
    <input v-model="travel" data-drupal-selector="travel" type="travel" id="travel" name="travel" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / month (${ formatter.format(travel * 8) })<br>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-insurance form-item--insurance" v-cloak>
    <label for="insurance" class="form-item__label">{{ settings.insurance_input_label ?: "Car insurance and gas"}}</label>
    <input v-model="insurance" data-drupal-selector="insurance" type="insurance" id="insurance" name="insurance" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / month (${ formatter.format(insurance * 8) })<br>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-other form-item--other" v-cloak>
    <label for="other" class="form-item__label">{{ settings.other_input_label ?: "Other"}}</label>
    <input v-model="other" data-drupal-selector="other" type="other" id="other" name="other" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / month (${ formatter.format(other * 8) })<br>
  </div>


  <h2>Every four months</h2>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-parking form-item--parking" v-cloak>
    <label for="parking" class="form-item__label">{{ settings.parking_input_label ?: "Parking pass (if driving to campus)"}}</label>
    <input v-model="parking" data-drupal-selector="parking" type="parking" id="parking" name="parking" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    / 4 months (${ formatter.format(parking * 2) } for 2 semesters)<br>
  </div>

  <h2 v-cloak>Total expenses: <span class="expense_total">${ formatter.format(expenses) }</span></h2>

  <hr>

  <h1>Resources</h1>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-savings form-item--savings" v-cloak>
    <label for="savings" class="form-item__label">{{ settings.savings_input_label ?: "Personal savings"}}</label>
    <input v-model="savings" data-drupal-selector="savings" type="savings" id="savings" name="savings" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
  </div>

  {# President's Dropdown #}
  <div class="js-form-item form-item js-form-type-select form-type--select js-form-item-presidents_choice form-item--presidents_choice" v-cloak>
    <label for="edit-presidents_choice" class="form-item__label">{{ settings.presidents_choice_dropdown_labe ?: "University of Waterloo President's Scholarships"}}</label>
    <select data-drupal-selector="edit-presidents_choice" id="edit-presidents_choice" name="presidents_choice" class="form-select form-element form-element--type-select" v-model="presidents_choice" v-cloak>
      <option :value="" selected>What is your anticipated high school average?</option>
      <option :value="95">95% or higher</option>
      <option :value="90">90 - 94.9%</option>
      <option :value="85">85 - 89.9%</option>
    </select>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-presidents form-item--presidents" v-cloak>
    <input v-model="presidents" data-drupal-selector="presidents" type="presidents" id="presidents" name="presidents" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
    <ul>
      <li>If your average is 95% or higher, you may be eligible for up to an <a href="https://uwaterloo.ca/find-out-more/financing/scholarships/presidents-scholarships">additional $3,000 available</a> in upper years.</li>
      <li>You may also be eligible for <a href="https://uwaterloo.ca/find-out-more/financing/scholarships/">other entrance scholarships</a> ranging from $500 for 1 year to $40,000 over 4 years.</li>
    </ul>
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-scholarships form-item--scholarships" v-cloak>
    <label for="scholarships" class="form-item__label">{{ settings.scholarships_input_label ?: "Other scholarships or awards"}}</label>
    <input v-model="scholarships" data-drupal-selector="scholarships" type="scholarships" id="scholarships" name="scholarships" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-loans form-item--loans" v-cloak>
    <label for="loans" class="form-item__label">{{ settings.loans_input_label ?: "Government student loans or grants"}}</label>
    <input v-model="loans" data-drupal-selector="loans" type="loans" id="loans" name="loans" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
  </div>

  <div class="js-form-item form-item js-form-type-textfield form-type--textfield js-form-item-contributions form-item--contributions" v-cloak>
    <label for="contributions" class="form-item__label">{{ settings.contributions_input_label ?: "Other contributions, e.g., RESP, parents or guardians"}}</label>
    <input v-model="contributions" data-drupal-selector="contributions" type="contributions" id="contributions" name="contributions" size="20" maxlength="128" class="form-text form-element form-element--type-text form-element--api-textfield">
  </div>

  <h2 v-cloak>Total resources: ${ formatter.format(income) }</h2>

  <hr>

  <h1>Summary</h1>
  <table class="budget_calculator_summary" v-cloak>
    <tr>
      <td><div class="title">Expenses</div></td>
      <td><div class="expenses">${ formatter.format(expenses) }</div></td>
    </tr>

    <tr>
      <td><div class="title">Resources</div></td>
      <td><div class="income">${ formatter.format(income) }</div></td>
    </tr>

    <tr>
      <td><div class="total_title">Balance</div></td>
      <td><div class="total">${ formatter.format(total) }</div></td>
    </tr>

  </table>
  <highcharts :options="chartOptions" ref="chart"></highcharts>

</div>
<!-- end vue #app -->
