{#
/**
 * @file budget_program_entity.html.twig
 * Default theme implementation to present Budget Program data.
 *
 * This template is used when viewing Budget Program pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_budget_program_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('budget_program_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
