{#
/**
 * @file budget_residence_entity.html.twig
 * Default theme implementation to present Budget Residence data.
 *
 * This template is used when viewing Budget Residence pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_budget_residence_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('budget_residence_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
